@model ClientPatientManagement.Core.Model.Room

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar un room</h2>

@using (Html.BeginForm("Edit", "Room"))
{
    <label>Nombre: </label>
    <input name="Nombre" value="@Model.Name" />

    <label>Localidad: </label>
    <input name="Localidad" value="@Model.Location" />
    <button type="submit">Submit</button>
}

